

<div class="container mt-6">
  <h1>Restaurants</h1>
   <%= link_to new_restaurant_path do %>
      <h2 class="btn-primary">Add New Restauarant</h2>
    <% end %>
  <div class='cards'>
    <% @restaurants.each do |restaurant| %>
      <%= render 'restaurants/card', restaurant: restaurant %>
    <% end %>
  </div>
</div>
